{
  "swagger": "2.0",
  "info": {
    "title": "Demo Conference API",
    "version": "1.0",
    "description": "A sample API with information related to a technical conference.  The available resources  include *Speakers*, *Sessions* and *Topics*.  A single write operation is available to provide  feedback on a session."
  },
  "host": "apim-ateg4pu.azure-api.net",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "description": "A list of sessions.  Optional parameters work as filters to reduce the listed sessions.",
        "operationId": "GetSessions",
        "summary": "GetSessions",
        "parameters": [
          {
            "name": "speakername",
            "in": "query",
            "type": "string"
          },
          {
            "name": "dayno",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          },
          {
            "name": "keyword",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/session/{id}": {
      "get": {
        "description": "Retreive a representation of a single session by Id",
        "operationId": "GetSession",
        "summary": "GetSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/hal+json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/session/{id}/topics": {
      "get": {
        "description": "A list of topics covered by a particular session",
        "operationId": "GetSessionTopics",
        "summary": "GetSessionTopics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/session/{id}/feedback": {
      "post": {
        "description": "Retreive a representation of a single session by Id",
        "operationId": "SubmitSession",
        "summary": "SubmitSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Body"
            }
          }
        ],
        "consumes": [
          "text/plain"
        ],
        "produces": [
          "application/hal+json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/speakers": {
      "get": {
        "operationId": "GetSpeakers",
        "summary": "GetSpeakers",
        "parameters": [
          {
            "name": "dayno",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          },
          {
            "name": "speakername",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/speaker/{id}": {
      "get": {
        "operationId": "GetSpeaker",
        "summary": "GetSpeaker",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.hal+json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/speaker/{id}/sessions": {
      "get": {
        "operationId": "GetSpeakerSessions",
        "summary": "GetSpeakerSessions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/speaker/{id}/topics": {
      "get": {
        "operationId": "GetSpeakerTopics",
        "summary": "GetSpeakerTopics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/topics": {
      "get": {
        "operationId": "GetTopics",
        "summary": "GetTopics",
        "parameters": [
          {
            "name": "dayno",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/topic/{id}": {
      "get": {
        "operationId": "GetTopic",
        "summary": "GetTopic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/topic/{id}/speakers": {
      "get": {
        "operationId": "GetTopicSpeakers",
        "summary": "GetTopicSpeakers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/topic/{id}/sessions": {
      "get": {
        "operationId": "GetTopicSessions",
        "summary": "GetTopicSessions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/vnd.collection+json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "Body": {
      "type": "string"
    }
  },
  "tags": []
}
